@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Roboto', sans-serif; }

ul, li {
  list-style: none; }

a, a:hover {
  text-decoration: none; }

main {
  width: 90%;
  margin: 30px auto; }

menu {
  margin-bottom: 40px; }
  menu a {
    margin-right: 20px;
    color: #333; }

.search-stops {
  margin: 20px 0; }
  .search-stops input {
    padding: 10px;
    width: 400px; }

.stop-points-list li {
  margin: 8px 0; }

.stop-points-list a {
  color: #333; }

.transport-list li {
  margin: 20px 0; }
  .transport-list li div p {
    margin: 5px 0; }
  .transport-list li p span {
    font-weight: 600; }

.routes-list {
  display: flex;
  flex-direction: column; }

.routes-item {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid #ccc; }
  .routes-item h2 {
    width: 100%;
    margin-bottom: 10px; }
  .routes-item .route {
    margin: 5px; }

.route-directions {
  border-bottom: 1px solid #ccc; }
